body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

    background-image: url('background1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    position: relative;
}

h2 {
    color:rgb(234, 232, 230);
}

.logo {
    width: 200px;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 10px 80px rgba(0,0,0,0.1);
}

/* Center container */
.login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Panel box */
.login-box {
    width: 320px;
    background: rgb(146, 101, 45);
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 10px 80px rgba(0,0,0,0.1);
    text-align: center;
}

.login-box h2 {
    margin-bottom: 20px;
}

/* Inputs */
.login-box input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box; /* IMPORTANT: keeps alignment perfect */
    display: block;
}

/* Button */
.login-box button {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    background: #db9f1e;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    box-sizing: border-box;
    display: block;
}

.login-box button:hover {
    background: #816538;
}

/* Divider */
.divider {
    margin: 15px 0;
    font-size: 12px;
    color: rgb(237, 229, 229);
}

/* Register link */
.register-link {
    display: block;
    margin-top: 15px;
    font-size: 14px;
    color: #c8d1f4;
    text-decoration: underline;
}

.register-link:hover {
    text-decoration: underline;
}